<h1>Create your own Hero!</h1>
<form class="" action="/show-hero" method="post">
	<label for="name">Name</label>
	<input id="name" type="text" name="name">
	<label for="age"></label>
	<input id="age" type="text" name="age">
	<label for="power"></label>
	<input id="power" type="text" name="power">
	<label for="weak"></label>
	<input id="weak" type="text" name="weak">
	<button type="submit" name="button">Add Hero</button>
</form>